/*p{
	background-color: red;
	color: blue;
}*/

/*
#sample{
	background-color: yellow;
	color: red
}
.sample{
	background-color: red;
	color: yellow
}
h4,p{
	background-color: green;
	color: blue
}
*{
	text-align: center;
}*/



/*body{
	background-color: #4D9510
}
main{
	background-color: #7AAB52;
	margin: 5%;
	direction: flex;
	justify-content: space-around;
}
section{
	background-color: #30C591;
	margin: 5%
}*/
